@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */
body {
    background-color: #1c1c1c; /* Background color */
    color: #fff; /* Text color */
    line-height: 1.6;
}

/* Header Section */
.head {
    background-color: #1c1c1c; /* Dark background for header */
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.633);
    height: 90px;
    position: sticky;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    word-spacing: 1px;
}

.logo span {
    font-size: 30px;
    word-spacing: 3px;
    color: rgba(29, 215, 232, 0.921);
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    transition: filter 0.4s ease-in-out;
}

.nav-links .active {
    text-decoration: underline;
    font-weight: 700;
}

.nav-links a:hover {
    filter: brightness(1.3);
}

.nav-links .btn {
    border-radius: 63%;
    transition: background 0.3s, color 0.3s;
    border: 1px solid #555;
    margin-left: 15px;
}

.nav-links .login {
    background-color: transparent;
    color: #fff;
}

.nav-links .login:hover {
    background-color: #333;
}

.nav-links .sign-in {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.nav-links .profile {
    background-color: transparent;
    color: #fff;
}

.nav-links .profile:hover {
    background-color: #333;
}
