{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobNest</title>
    <link rel="stylesheet" href="{% static 'after_login.css' %}">
</head>
<body>
    
    <section class="header-section">
        <header class="head">
          <div class="header-info">
            <a href="#" class="logo">Job<span>Nest</span></a>
            <nav class="nav-links">
              <a href="home">AddJob</a>
              <a href="dashboard">Dashboard</a>
              <a href="resources">Resources</a>
              <a href="login" class="btn profile"></a>
            
              
            </nav>
          </div>
        </header>
     </section>

</body>
</html>